# coding: utf-8

"""
    TMI (Threat Modeling Improved) API

    A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.  ## API Design v1.1.0  ### Authorization Model TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.  ### Bulk Operations Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).  All resources support bulk metadata operations regardless of resource-level bulk support.  ### List Response Strategy - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large. - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large. - Notes return summary information (NoteListItem) because the content field can be large. - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.  ### PATCH Support All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for: - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates - Notes: Updating name/description without changing content field - All resources: Efficient updates without full object replacement   # noqa: E501

    OpenAPI spec version: 1.3.0
    Contact: api@tmi.local.dev
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from tmi_client.api_client import ApiClient


class AdminUsersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_admin_user_client_credential(self, body, internal_uuid, **kwargs):  # noqa: E501
        """Create a client credential for an automation user  # noqa: E501

        Creates a new client credential for the specified automation user. Only accessible for users with automation=true. The client_secret is returned only once. Admin operations bypass quota limits.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_admin_user_client_credential(body, internal_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InternalUuidClientCredentialsBody body: (required)
        :param str internal_uuid: Internal system UUID of the user (required)
        :return: ClientCredentialResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_admin_user_client_credential_with_http_info(body, internal_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.create_admin_user_client_credential_with_http_info(body, internal_uuid, **kwargs)  # noqa: E501
            return data

    def create_admin_user_client_credential_with_http_info(self, body, internal_uuid, **kwargs):  # noqa: E501
        """Create a client credential for an automation user  # noqa: E501

        Creates a new client credential for the specified automation user. Only accessible for users with automation=true. The client_secret is returned only once. Admin operations bypass quota limits.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_admin_user_client_credential_with_http_info(body, internal_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InternalUuidClientCredentialsBody body: (required)
        :param str internal_uuid: Internal system UUID of the user (required)
        :return: ClientCredentialResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'internal_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_admin_user_client_credential" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_admin_user_client_credential`")  # noqa: E501
        # verify the required parameter 'internal_uuid' is set
        if ('internal_uuid' not in params or
                params['internal_uuid'] is None):
            raise ValueError("Missing the required parameter `internal_uuid` when calling `create_admin_user_client_credential`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'internal_uuid' in params:
            path_params['internal_uuid'] = params['internal_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/users/{internal_uuid}/client_credentials', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClientCredentialResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_automation_account(self, body, **kwargs):  # noqa: E501
        """Create an automation (service) account  # noqa: E501

        Creates a new automation account with the TMI provider, sets the automation flag, adds the account to the TMI Automation built-in group, and creates a client credential. The client secret is returned only once and cannot be retrieved later. Requires administrator privileges.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_automation_account(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateAutomationAccountRequest body: (required)
        :return: CreateAutomationAccountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_automation_account_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_automation_account_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_automation_account_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an automation (service) account  # noqa: E501

        Creates a new automation account with the TMI provider, sets the automation flag, adds the account to the TMI Automation built-in group, and creates a client credential. The client secret is returned only once and cannot be retrieved later. Requires administrator privileges.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_automation_account_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateAutomationAccountRequest body: (required)
        :return: CreateAutomationAccountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_automation_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_automation_account`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/users/automation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateAutomationAccountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_admin_user_client_credential(self, internal_uuid, credential_id, **kwargs):  # noqa: E501
        """Delete a client credential for an automation user  # noqa: E501

        Deletes and revokes a client credential for the specified automation user. Only accessible for users with automation=true.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_admin_user_client_credential(internal_uuid, credential_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str internal_uuid: Internal system UUID of the user (required)
        :param str credential_id: Internal UUID of the client credential (the \"id\" field from the list response, not the \"client_id\") (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_admin_user_client_credential_with_http_info(internal_uuid, credential_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_admin_user_client_credential_with_http_info(internal_uuid, credential_id, **kwargs)  # noqa: E501
            return data

    def delete_admin_user_client_credential_with_http_info(self, internal_uuid, credential_id, **kwargs):  # noqa: E501
        """Delete a client credential for an automation user  # noqa: E501

        Deletes and revokes a client credential for the specified automation user. Only accessible for users with automation=true.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_admin_user_client_credential_with_http_info(internal_uuid, credential_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str internal_uuid: Internal system UUID of the user (required)
        :param str credential_id: Internal UUID of the client credential (the \"id\" field from the list response, not the \"client_id\") (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['internal_uuid', 'credential_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_admin_user_client_credential" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'internal_uuid' is set
        if ('internal_uuid' not in params or
                params['internal_uuid'] is None):
            raise ValueError("Missing the required parameter `internal_uuid` when calling `delete_admin_user_client_credential`")  # noqa: E501
        # verify the required parameter 'credential_id' is set
        if ('credential_id' not in params or
                params['credential_id'] is None):
            raise ValueError("Missing the required parameter `credential_id` when calling `delete_admin_user_client_credential`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'internal_uuid' in params:
            path_params['internal_uuid'] = params['internal_uuid']  # noqa: E501
        if 'credential_id' in params:
            path_params['credential_id'] = params['credential_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/users/{internal_uuid}/client_credentials/{credential_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_admin_user_client_credentials(self, internal_uuid, **kwargs):  # noqa: E501
        """List client credentials for an automation user  # noqa: E501

        Lists all client credentials for the specified automation user. Only accessible for users with automation=true. Secrets are never returned.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_admin_user_client_credentials(internal_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str internal_uuid: Internal system UUID of the user (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListClientCredentialsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_admin_user_client_credentials_with_http_info(internal_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.list_admin_user_client_credentials_with_http_info(internal_uuid, **kwargs)  # noqa: E501
            return data

    def list_admin_user_client_credentials_with_http_info(self, internal_uuid, **kwargs):  # noqa: E501
        """List client credentials for an automation user  # noqa: E501

        Lists all client credentials for the specified automation user. Only accessible for users with automation=true. Secrets are never returned.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_admin_user_client_credentials_with_http_info(internal_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str internal_uuid: Internal system UUID of the user (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListClientCredentialsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['internal_uuid', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_admin_user_client_credentials" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'internal_uuid' is set
        if ('internal_uuid' not in params or
                params['internal_uuid'] is None):
            raise ValueError("Missing the required parameter `internal_uuid` when calling `list_admin_user_client_credentials`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'internal_uuid' in params:
            path_params['internal_uuid'] = params['internal_uuid']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/users/{internal_uuid}/client_credentials', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListClientCredentialsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
