# coding: utf-8

"""
    TMI (Threat Modeling Improved) API

    A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.  ## API Design v1.1.0  ### Authorization Model TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.  ### Bulk Operations Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).  All resources support bulk metadata operations regardless of resource-level bulk support.  ### List Response Strategy - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large. - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large. - Notes return summary information (NoteListItem) because the content field can be large. - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.  ### PATCH Support All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for: - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates - Notes: Updating name/description without changing content field - All resources: Efficient updates without full object replacement   # noqa: E501

    OpenAPI spec version: 1.3.0
    Contact: api@tmi.local.dev
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from tmi_client.api_client import ApiClient


class AuditTrailApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_asset_audit_trail(self, threat_model_id, asset_id, **kwargs):  # noqa: E501
        """List audit trail for an asset  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_asset_audit_trail(threat_model_id, asset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str asset_id: Asset identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_asset_audit_trail_with_http_info(threat_model_id, asset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_asset_audit_trail_with_http_info(threat_model_id, asset_id, **kwargs)  # noqa: E501
            return data

    def get_asset_audit_trail_with_http_info(self, threat_model_id, asset_id, **kwargs):  # noqa: E501
        """List audit trail for an asset  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_asset_audit_trail_with_http_info(threat_model_id, asset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str asset_id: Asset identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'asset_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_asset_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_asset_audit_trail`")  # noqa: E501
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `get_asset_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'asset_id' in params:
            path_params['asset_id'] = params['asset_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/assets/{asset_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_audit_entry(self, threat_model_id, entry_id, **kwargs):  # noqa: E501
        """Get a single audit trail entry  # noqa: E501

        Returns a single audit trail entry by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_audit_entry(threat_model_id, entry_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str entry_id: Unique identifier of the audit entry (required)
        :return: AuditEntry
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_audit_entry_with_http_info(threat_model_id, entry_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_audit_entry_with_http_info(threat_model_id, entry_id, **kwargs)  # noqa: E501
            return data

    def get_audit_entry_with_http_info(self, threat_model_id, entry_id, **kwargs):  # noqa: E501
        """Get a single audit trail entry  # noqa: E501

        Returns a single audit trail entry by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_audit_entry_with_http_info(threat_model_id, entry_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str entry_id: Unique identifier of the audit entry (required)
        :return: AuditEntry
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'entry_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_audit_entry" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_audit_entry`")  # noqa: E501
        # verify the required parameter 'entry_id' is set
        if ('entry_id' not in params or
                params['entry_id'] is None):
            raise ValueError("Missing the required parameter `entry_id` when calling `get_audit_entry`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'entry_id' in params:
            path_params['entry_id'] = params['entry_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/audit_trail/{entry_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AuditEntry',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_diagram_audit_trail(self, threat_model_id, diagram_id, **kwargs):  # noqa: E501
        """List audit trail for a diagram  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_diagram_audit_trail(threat_model_id, diagram_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str diagram_id: Diagram identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_diagram_audit_trail_with_http_info(threat_model_id, diagram_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_diagram_audit_trail_with_http_info(threat_model_id, diagram_id, **kwargs)  # noqa: E501
            return data

    def get_diagram_audit_trail_with_http_info(self, threat_model_id, diagram_id, **kwargs):  # noqa: E501
        """List audit trail for a diagram  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_diagram_audit_trail_with_http_info(threat_model_id, diagram_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str diagram_id: Diagram identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'diagram_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_diagram_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_diagram_audit_trail`")  # noqa: E501
        # verify the required parameter 'diagram_id' is set
        if ('diagram_id' not in params or
                params['diagram_id'] is None):
            raise ValueError("Missing the required parameter `diagram_id` when calling `get_diagram_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'diagram_id' in params:
            path_params['diagram_id'] = params['diagram_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/diagrams/{diagram_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_document_audit_trail(self, threat_model_id, document_id, **kwargs):  # noqa: E501
        """List audit trail for a document  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_document_audit_trail(threat_model_id, document_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str document_id: Document identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_document_audit_trail_with_http_info(threat_model_id, document_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_document_audit_trail_with_http_info(threat_model_id, document_id, **kwargs)  # noqa: E501
            return data

    def get_document_audit_trail_with_http_info(self, threat_model_id, document_id, **kwargs):  # noqa: E501
        """List audit trail for a document  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_document_audit_trail_with_http_info(threat_model_id, document_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str document_id: Document identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'document_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_document_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_document_audit_trail`")  # noqa: E501
        # verify the required parameter 'document_id' is set
        if ('document_id' not in params or
                params['document_id'] is None):
            raise ValueError("Missing the required parameter `document_id` when calling `get_document_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'document_id' in params:
            path_params['document_id'] = params['document_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/documents/{document_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_note_audit_trail(self, threat_model_id, note_id, **kwargs):  # noqa: E501
        """List audit trail for a note  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_note_audit_trail(threat_model_id, note_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str note_id: Note identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_note_audit_trail_with_http_info(threat_model_id, note_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_note_audit_trail_with_http_info(threat_model_id, note_id, **kwargs)  # noqa: E501
            return data

    def get_note_audit_trail_with_http_info(self, threat_model_id, note_id, **kwargs):  # noqa: E501
        """List audit trail for a note  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_note_audit_trail_with_http_info(threat_model_id, note_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str note_id: Note identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'note_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_note_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_note_audit_trail`")  # noqa: E501
        # verify the required parameter 'note_id' is set
        if ('note_id' not in params or
                params['note_id'] is None):
            raise ValueError("Missing the required parameter `note_id` when calling `get_note_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'note_id' in params:
            path_params['note_id'] = params['note_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/notes/{note_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_repository_audit_trail(self, threat_model_id, repository_id, **kwargs):  # noqa: E501
        """List audit trail for a repository  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_repository_audit_trail(threat_model_id, repository_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str repository_id: Repository identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_repository_audit_trail_with_http_info(threat_model_id, repository_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_repository_audit_trail_with_http_info(threat_model_id, repository_id, **kwargs)  # noqa: E501
            return data

    def get_repository_audit_trail_with_http_info(self, threat_model_id, repository_id, **kwargs):  # noqa: E501
        """List audit trail for a repository  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_repository_audit_trail_with_http_info(threat_model_id, repository_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str repository_id: Repository identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'repository_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_repository_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_repository_audit_trail`")  # noqa: E501
        # verify the required parameter 'repository_id' is set
        if ('repository_id' not in params or
                params['repository_id'] is None):
            raise ValueError("Missing the required parameter `repository_id` when calling `get_repository_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'repository_id' in params:
            path_params['repository_id'] = params['repository_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/repositories/{repository_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_threat_audit_trail(self, threat_model_id, threat_id, **kwargs):  # noqa: E501
        """List audit trail for a threat  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_threat_audit_trail(threat_model_id, threat_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str threat_id: Threat identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_threat_audit_trail_with_http_info(threat_model_id, threat_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_threat_audit_trail_with_http_info(threat_model_id, threat_id, **kwargs)  # noqa: E501
            return data

    def get_threat_audit_trail_with_http_info(self, threat_model_id, threat_id, **kwargs):  # noqa: E501
        """List audit trail for a threat  # noqa: E501

        Returns a paginated list of audit trail entries for a specific resource  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_threat_audit_trail_with_http_info(threat_model_id, threat_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str threat_id: Threat identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'threat_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_threat_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_threat_audit_trail`")  # noqa: E501
        # verify the required parameter 'threat_id' is set
        if ('threat_id' not in params or
                params['threat_id'] is None):
            raise ValueError("Missing the required parameter `threat_id` when calling `get_threat_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'threat_id' in params:
            path_params['threat_id'] = params['threat_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/threats/{threat_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_threat_model_audit_trail(self, threat_model_id, **kwargs):  # noqa: E501
        """List audit trail for a threat model and all sub-objects  # noqa: E501

        Returns a paginated list of audit trail entries  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_threat_model_audit_trail(threat_model_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param str object_type: Filter by object type
        :param str change_type: Filter by change type
        :param str actor_email: Filter by actor email
        :param datetime after: Filter entries after this timestamp (ISO 8601)
        :param datetime before: Filter entries before this timestamp (ISO 8601)
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_threat_model_audit_trail_with_http_info(threat_model_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_threat_model_audit_trail_with_http_info(threat_model_id, **kwargs)  # noqa: E501
            return data

    def get_threat_model_audit_trail_with_http_info(self, threat_model_id, **kwargs):  # noqa: E501
        """List audit trail for a threat model and all sub-objects  # noqa: E501

        Returns a paginated list of audit trail entries  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_threat_model_audit_trail_with_http_info(threat_model_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param str object_type: Filter by object type
        :param str change_type: Filter by change type
        :param str actor_email: Filter by actor email
        :param datetime after: Filter entries after this timestamp (ISO 8601)
        :param datetime before: Filter entries before this timestamp (ISO 8601)
        :return: ListAuditTrailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'limit', 'offset', 'object_type', 'change_type', 'actor_email', 'after', 'before']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_threat_model_audit_trail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `get_threat_model_audit_trail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'object_type' in params:
            query_params.append(('object_type', params['object_type']))  # noqa: E501
        if 'change_type' in params:
            query_params.append(('change_type', params['change_type']))  # noqa: E501
        if 'actor_email' in params:
            query_params.append(('actor_email', params['actor_email']))  # noqa: E501
        if 'after' in params:
            query_params.append(('after', params['after']))  # noqa: E501
        if 'before' in params:
            query_params.append(('before', params['before']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/audit_trail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListAuditTrailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def rollback_to_version(self, threat_model_id, entry_id, **kwargs):  # noqa: E501
        """Rollback an entity to a previous version  # noqa: E501

        Restores an entity to the state captured in the specified audit entry's version snapshot. Creates a new audit entry recording the rollback. Returns 410 Gone if the version snapshot has been pruned.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.rollback_to_version(threat_model_id, entry_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str entry_id: Unique identifier of the audit entry (required)
        :return: RollbackResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.rollback_to_version_with_http_info(threat_model_id, entry_id, **kwargs)  # noqa: E501
        else:
            (data) = self.rollback_to_version_with_http_info(threat_model_id, entry_id, **kwargs)  # noqa: E501
            return data

    def rollback_to_version_with_http_info(self, threat_model_id, entry_id, **kwargs):  # noqa: E501
        """Rollback an entity to a previous version  # noqa: E501

        Restores an entity to the state captured in the specified audit entry's version snapshot. Creates a new audit entry recording the rollback. Returns 410 Gone if the version snapshot has been pruned.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.rollback_to_version_with_http_info(threat_model_id, entry_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str threat_model_id: Threat model identifier (required)
        :param str entry_id: Unique identifier of the audit entry (required)
        :return: RollbackResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['threat_model_id', 'entry_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method rollback_to_version" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'threat_model_id' is set
        if ('threat_model_id' not in params or
                params['threat_model_id'] is None):
            raise ValueError("Missing the required parameter `threat_model_id` when calling `rollback_to_version`")  # noqa: E501
        # verify the required parameter 'entry_id' is set
        if ('entry_id' not in params or
                params['entry_id'] is None):
            raise ValueError("Missing the required parameter `entry_id` when calling `rollback_to_version`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_model_id' in params:
            path_params['threat_model_id'] = params['threat_model_id']  # noqa: E501
        if 'entry_id' in params:
            path_params['entry_id'] = params['entry_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/threat_models/{threat_model_id}/audit_trail/{entry_id}/rollback', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RollbackResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
