# coding: utf-8

"""
    TMI (Threat Modeling Improved) API

    A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.  ## API Design v1.1.0  ### Authorization Model TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.  ### Bulk Operations Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).  All resources support bulk metadata operations regardless of resource-level bulk support.  ### List Response Strategy - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large. - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large. - Notes return summary information (NoteListItem) because the content field can be large. - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.  ### PATCH Support All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for: - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates - Notes: Updating name/description without changing content field - All resources: Efficient updates without full object replacement   # noqa: E501

    OpenAPI spec version: 1.2.0
    Contact: api@tmi.local.dev
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from tmi_client.api_client import ApiClient


class SurveyAdministrationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def bulk_create_admin_survey_metadata(self, body, survey_id, **kwargs):  # noqa: E501
        """Bulk create metadata for a survey  # noqa: E501

        Creates multiple metadata key-value pairs for the specified survey. Returns 409 Conflict if any of the specified keys already exist.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_create_admin_survey_metadata(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Array of metadata key-value pairs to create (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_create_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_create_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
            return data

    def bulk_create_admin_survey_metadata_with_http_info(self, body, survey_id, **kwargs):  # noqa: E501
        """Bulk create metadata for a survey  # noqa: E501

        Creates multiple metadata key-value pairs for the specified survey. Returns 409 Conflict if any of the specified keys already exist.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_create_admin_survey_metadata_with_http_info(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Array of metadata key-value pairs to create (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_create_admin_survey_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_create_admin_survey_metadata`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `bulk_create_admin_survey_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_replace_admin_survey_metadata(self, body, survey_id, **kwargs):  # noqa: E501
        """Bulk replace metadata for a survey  # noqa: E501

        Replaces all metadata for the entity. All existing metadata is deleted and replaced with the provided set. To clear all metadata, send an empty array.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_replace_admin_survey_metadata(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Complete set of metadata key-value pairs to replace existing metadata (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_replace_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_replace_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
            return data

    def bulk_replace_admin_survey_metadata_with_http_info(self, body, survey_id, **kwargs):  # noqa: E501
        """Bulk replace metadata for a survey  # noqa: E501

        Replaces all metadata for the entity. All existing metadata is deleted and replaced with the provided set. To clear all metadata, send an empty array.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_replace_admin_survey_metadata_with_http_info(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Complete set of metadata key-value pairs to replace existing metadata (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_replace_admin_survey_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_replace_admin_survey_metadata`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `bulk_replace_admin_survey_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata/bulk', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_upsert_admin_survey_metadata(self, body, survey_id, **kwargs):  # noqa: E501
        """Bulk upsert metadata for a survey  # noqa: E501

        Creates or updates only the provided metadata keys. Keys not included in the request are left unchanged. This is a merge/upsert operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_upsert_admin_survey_metadata(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Metadata key-value pairs to create or update (merge) (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_upsert_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_upsert_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
            return data

    def bulk_upsert_admin_survey_metadata_with_http_info(self, body, survey_id, **kwargs):  # noqa: E501
        """Bulk upsert metadata for a survey  # noqa: E501

        Creates or updates only the provided metadata keys. Keys not included in the request are left unchanged. This is a merge/upsert operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_upsert_admin_survey_metadata_with_http_info(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Metadata key-value pairs to create or update (merge) (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_upsert_admin_survey_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_upsert_admin_survey_metadata`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `bulk_upsert_admin_survey_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata/bulk', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_admin_survey(self, body, **kwargs):  # noqa: E501
        """Create a survey  # noqa: E501

        Creates a new survey. Surveys are created in inactive status by default.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_admin_survey(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyInput body: Survey definition to create (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_admin_survey_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_admin_survey_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_admin_survey_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a survey  # noqa: E501

        Creates a new survey. Surveys are created in inactive status by default.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_admin_survey_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyInput body: Survey definition to create (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_admin_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_admin_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Survey',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_admin_survey_metadata(self, body, survey_id, **kwargs):  # noqa: E501
        """Add metadata to a survey  # noqa: E501

        Adds a new metadata key-value pair to the specified survey. Returns 409 Conflict if the key already exists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_admin_survey_metadata(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to create (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_admin_survey_metadata_with_http_info(body, survey_id, **kwargs)  # noqa: E501
            return data

    def create_admin_survey_metadata_with_http_info(self, body, survey_id, **kwargs):  # noqa: E501
        """Add metadata to a survey  # noqa: E501

        Adds a new metadata key-value pair to the specified survey. Returns 409 Conflict if the key already exists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_admin_survey_metadata_with_http_info(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to create (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_admin_survey_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_admin_survey_metadata`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `create_admin_survey_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Metadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_admin_survey(self, survey_id, **kwargs):  # noqa: E501
        """Delete a survey  # noqa: E501

        Deletes a survey. Surveys with existing responses cannot be deleted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_admin_survey(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_admin_survey_with_http_info(survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_admin_survey_with_http_info(survey_id, **kwargs)  # noqa: E501
            return data

    def delete_admin_survey_with_http_info(self, survey_id, **kwargs):  # noqa: E501
        """Delete a survey  # noqa: E501

        Deletes a survey. Surveys with existing responses cannot be deleted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_admin_survey_with_http_info(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_admin_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `delete_admin_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_admin_survey_metadata_by_key(self, survey_id, key, **kwargs):  # noqa: E501
        """Delete metadata by key for a survey  # noqa: E501

        Deletes a specific metadata entry by key for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_admin_survey_metadata_by_key(survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :param str key: Metadata key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_admin_survey_metadata_by_key_with_http_info(survey_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_admin_survey_metadata_by_key_with_http_info(survey_id, key, **kwargs)  # noqa: E501
            return data

    def delete_admin_survey_metadata_by_key_with_http_info(self, survey_id, key, **kwargs):  # noqa: E501
        """Delete metadata by key for a survey  # noqa: E501

        Deletes a specific metadata entry by key for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_admin_survey_metadata_by_key_with_http_info(survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :param str key: Metadata key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_admin_survey_metadata_by_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `delete_admin_survey_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `delete_admin_survey_metadata_by_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata/{key}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_admin_survey(self, survey_id, **kwargs):  # noqa: E501
        """Get a survey  # noqa: E501

        Returns a specific survey by ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_admin_survey(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_admin_survey_with_http_info(survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_admin_survey_with_http_info(survey_id, **kwargs)  # noqa: E501
            return data

    def get_admin_survey_with_http_info(self, survey_id, **kwargs):  # noqa: E501
        """Get a survey  # noqa: E501

        Returns a specific survey by ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_admin_survey_with_http_info(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_admin_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `get_admin_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Survey',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_admin_survey_metadata(self, survey_id, **kwargs):  # noqa: E501
        """Get all metadata for a survey  # noqa: E501

        Returns all metadata key-value pairs for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_admin_survey_metadata(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_admin_survey_metadata_with_http_info(survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_admin_survey_metadata_with_http_info(survey_id, **kwargs)  # noqa: E501
            return data

    def get_admin_survey_metadata_with_http_info(self, survey_id, **kwargs):  # noqa: E501
        """Get all metadata for a survey  # noqa: E501

        Returns all metadata key-value pairs for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_admin_survey_metadata_with_http_info(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_admin_survey_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `get_admin_survey_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_admin_survey_metadata_by_key(self, survey_id, key, **kwargs):  # noqa: E501
        """Get metadata by key for a survey  # noqa: E501

        Returns a specific metadata entry by key for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_admin_survey_metadata_by_key(survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_admin_survey_metadata_by_key_with_http_info(survey_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_admin_survey_metadata_by_key_with_http_info(survey_id, key, **kwargs)  # noqa: E501
            return data

    def get_admin_survey_metadata_by_key_with_http_info(self, survey_id, key, **kwargs):  # noqa: E501
        """Get metadata by key for a survey  # noqa: E501

        Returns a specific metadata entry by key for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_admin_survey_metadata_by_key_with_http_info(survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_admin_survey_metadata_by_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `get_admin_survey_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `get_admin_survey_metadata_by_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata/{key}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Metadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_admin_surveys(self, **kwargs):  # noqa: E501
        """List surveys  # noqa: E501

        Returns a paginated list of all surveys with optional filtering by status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_admin_surveys(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str status: Filter by survey status
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param str sort: Sort order (e.g., created_at:desc, name:asc, severity:desc, score:desc)
        :param datetime created_after: Filter results created after this timestamp (ISO 8601)
        :param datetime created_before: Filter results created before this timestamp (ISO 8601)
        :param datetime modified_after: Filter results modified after this timestamp (ISO 8601)
        :param datetime modified_before: Filter results modified before this timestamp (ISO 8601)
        :return: ListSurveysResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_admin_surveys_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_admin_surveys_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_admin_surveys_with_http_info(self, **kwargs):  # noqa: E501
        """List surveys  # noqa: E501

        Returns a paginated list of all surveys with optional filtering by status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_admin_surveys_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str status: Filter by survey status
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param str sort: Sort order (e.g., created_at:desc, name:asc, severity:desc, score:desc)
        :param datetime created_after: Filter results created after this timestamp (ISO 8601)
        :param datetime created_before: Filter results created before this timestamp (ISO 8601)
        :param datetime modified_after: Filter results modified after this timestamp (ISO 8601)
        :param datetime modified_before: Filter results modified before this timestamp (ISO 8601)
        :return: ListSurveysResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status', 'limit', 'offset', 'sort', 'created_after', 'created_before', 'modified_after', 'modified_before']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_admin_surveys" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'created_after' in params:
            query_params.append(('created_after', params['created_after']))  # noqa: E501
        if 'created_before' in params:
            query_params.append(('created_before', params['created_before']))  # noqa: E501
        if 'modified_after' in params:
            query_params.append(('modified_after', params['modified_after']))  # noqa: E501
        if 'modified_before' in params:
            query_params.append(('modified_before', params['modified_before']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListSurveysResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_admin_survey(self, body, survey_id, **kwargs):  # noqa: E501
        """Partially update a survey  # noqa: E501

        Partially updates a survey using JSON Patch (RFC 6902).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_admin_survey(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[JsonPatchDocumentInner] body: JSON Patch operations to apply to the survey (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_admin_survey_with_http_info(body, survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_admin_survey_with_http_info(body, survey_id, **kwargs)  # noqa: E501
            return data

    def patch_admin_survey_with_http_info(self, body, survey_id, **kwargs):  # noqa: E501
        """Partially update a survey  # noqa: E501

        Partially updates a survey using JSON Patch (RFC 6902).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_admin_survey_with_http_info(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[JsonPatchDocumentInner] body: JSON Patch operations to apply to the survey (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_admin_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_admin_survey`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `patch_admin_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Survey',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_admin_survey(self, body, survey_id, **kwargs):  # noqa: E501
        """Update a survey  # noqa: E501

        Fully updates a survey. All fields are replaced.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_admin_survey(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyInput body: Complete survey definition to replace existing (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_admin_survey_with_http_info(body, survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_admin_survey_with_http_info(body, survey_id, **kwargs)  # noqa: E501
            return data

    def update_admin_survey_with_http_info(self, body, survey_id, **kwargs):  # noqa: E501
        """Update a survey  # noqa: E501

        Fully updates a survey. All fields are replaced.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_admin_survey_with_http_info(body, survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyInput body: Complete survey definition to replace existing (required)
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_admin_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_admin_survey`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `update_admin_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Survey',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_admin_survey_metadata_by_key(self, body, survey_id, key, **kwargs):  # noqa: E501
        """Update metadata by key for a survey  # noqa: E501

        Updates or creates a metadata entry by key for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_admin_survey_metadata_by_key(body, survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to update (required)
        :param str survey_id: Unique identifier of the survey (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_admin_survey_metadata_by_key_with_http_info(body, survey_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.update_admin_survey_metadata_by_key_with_http_info(body, survey_id, key, **kwargs)  # noqa: E501
            return data

    def update_admin_survey_metadata_by_key_with_http_info(self, body, survey_id, key, **kwargs):  # noqa: E501
        """Update metadata by key for a survey  # noqa: E501

        Updates or creates a metadata entry by key for the specified survey  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_admin_survey_metadata_by_key_with_http_info(body, survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to update (required)
        :param str survey_id: Unique identifier of the survey (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_admin_survey_metadata_by_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_admin_survey_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `update_admin_survey_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `update_admin_survey_metadata_by_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admin/surveys/{survey_id}/metadata/{key}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Metadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
