# coding: utf-8

"""
    TMI (Threat Modeling Improved) API

    A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.  ## API Design v1.1.0  ### Authorization Model TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.  ### Bulk Operations Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).  All resources support bulk metadata operations regardless of resource-level bulk support.  ### List Response Strategy - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large. - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large. - Notes return summary information (NoteListItem) because the content field can be large. - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.  ### PATCH Support All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for: - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates - Notes: Updating name/description without changing content field - All resources: Efficient updates without full object replacement   # noqa: E501

    OpenAPI spec version: 1.2.0
    Contact: api@tmi.local.dev
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from tmi_client.api_client import ApiClient


class SurveyIntakeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def bulk_create_intake_survey_response_metadata(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Bulk create metadata for a survey response  # noqa: E501

        Creates multiple metadata key-value pairs for the specified survey response. Returns 409 Conflict if any of the specified keys already exist.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_create_intake_survey_response_metadata(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Array of metadata key-value pairs to create (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_create_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_create_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
            return data

    def bulk_create_intake_survey_response_metadata_with_http_info(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Bulk create metadata for a survey response  # noqa: E501

        Creates multiple metadata key-value pairs for the specified survey response. Returns 409 Conflict if any of the specified keys already exist.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_create_intake_survey_response_metadata_with_http_info(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Array of metadata key-value pairs to create (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_create_intake_survey_response_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_create_intake_survey_response_metadata`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `bulk_create_intake_survey_response_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_replace_intake_survey_response_metadata(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Bulk replace metadata for a survey response  # noqa: E501

        Replaces all metadata for the entity. All existing metadata is deleted and replaced with the provided set. To clear all metadata, send an empty array.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_replace_intake_survey_response_metadata(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Complete set of metadata key-value pairs to replace existing metadata (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_replace_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_replace_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
            return data

    def bulk_replace_intake_survey_response_metadata_with_http_info(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Bulk replace metadata for a survey response  # noqa: E501

        Replaces all metadata for the entity. All existing metadata is deleted and replaced with the provided set. To clear all metadata, send an empty array.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_replace_intake_survey_response_metadata_with_http_info(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Complete set of metadata key-value pairs to replace existing metadata (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_replace_intake_survey_response_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_replace_intake_survey_response_metadata`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `bulk_replace_intake_survey_response_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata/bulk', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_upsert_intake_survey_response_metadata(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Bulk upsert metadata for a survey response  # noqa: E501

        Creates or updates only the provided metadata keys. Keys not included in the request are left unchanged. This is a merge/upsert operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_upsert_intake_survey_response_metadata(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Metadata key-value pairs to create or update (merge) (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_upsert_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_upsert_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
            return data

    def bulk_upsert_intake_survey_response_metadata_with_http_info(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Bulk upsert metadata for a survey response  # noqa: E501

        Creates or updates only the provided metadata keys. Keys not included in the request are left unchanged. This is a merge/upsert operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_upsert_intake_survey_response_metadata_with_http_info(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Metadata] body: Metadata key-value pairs to create or update (merge) (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_upsert_intake_survey_response_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_upsert_intake_survey_response_metadata`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `bulk_upsert_intake_survey_response_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata/bulk', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_intake_survey_response(self, body, **kwargs):  # noqa: E501
        """Create survey response  # noqa: E501

        Creates a new survey response in draft status. The secret_project flag can only be set here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_intake_survey_response(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyResponseCreateRequest body: Survey response to create (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_intake_survey_response_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_intake_survey_response_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_intake_survey_response_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create survey response  # noqa: E501

        Creates a new survey response in draft status. The secret_project flag can only be set here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_intake_survey_response_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyResponseCreateRequest body: Survey response to create (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_intake_survey_response" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_intake_survey_response`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SurveyResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_intake_survey_response_metadata(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Add metadata to a survey response  # noqa: E501

        Adds a new metadata key-value pair to the specified survey response. Returns 409 Conflict if the key already exists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_intake_survey_response_metadata(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to create (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_intake_survey_response_metadata_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
            return data

    def create_intake_survey_response_metadata_with_http_info(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Add metadata to a survey response  # noqa: E501

        Adds a new metadata key-value pair to the specified survey response. Returns 409 Conflict if the key already exists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_intake_survey_response_metadata_with_http_info(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to create (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_intake_survey_response_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_intake_survey_response_metadata`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `create_intake_survey_response_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Metadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_intake_survey_response(self, survey_response_id, **kwargs):  # noqa: E501
        """Delete survey response  # noqa: E501

        Deletes a survey response. Requires owner access.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_intake_survey_response(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_intake_survey_response_with_http_info(survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_intake_survey_response_with_http_info(survey_response_id, **kwargs)  # noqa: E501
            return data

    def delete_intake_survey_response_with_http_info(self, survey_response_id, **kwargs):  # noqa: E501
        """Delete survey response  # noqa: E501

        Deletes a survey response. Requires owner access.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_intake_survey_response_with_http_info(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_intake_survey_response" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `delete_intake_survey_response`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_intake_survey_response_metadata_by_key(self, survey_response_id, key, **kwargs):  # noqa: E501
        """Delete metadata by key for a survey response  # noqa: E501

        Deletes a specific metadata entry by key for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_intake_survey_response_metadata_by_key(survey_response_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param str key: Metadata key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_intake_survey_response_metadata_by_key_with_http_info(survey_response_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_intake_survey_response_metadata_by_key_with_http_info(survey_response_id, key, **kwargs)  # noqa: E501
            return data

    def delete_intake_survey_response_metadata_by_key_with_http_info(self, survey_response_id, key, **kwargs):  # noqa: E501
        """Delete metadata by key for a survey response  # noqa: E501

        Deletes a specific metadata entry by key for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_intake_survey_response_metadata_by_key_with_http_info(survey_response_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param str key: Metadata key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_intake_survey_response_metadata_by_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `delete_intake_survey_response_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `delete_intake_survey_response_metadata_by_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata/{key}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_intake_survey(self, survey_id, **kwargs):  # noqa: E501
        """Get an available survey  # noqa: E501

        Returns a specific active survey with all questions for the developer to fill out.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_intake_survey_with_http_info(survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_intake_survey_with_http_info(survey_id, **kwargs)  # noqa: E501
            return data

    def get_intake_survey_with_http_info(self, survey_id, **kwargs):  # noqa: E501
        """Get an available survey  # noqa: E501

        Returns a specific active survey with all questions for the developer to fill out.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_with_http_info(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_id: Unique identifier of the survey (required)
        :return: Survey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_intake_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `get_intake_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['survey_id'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/surveys/{survey_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Survey',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_intake_survey_response(self, survey_response_id, **kwargs):  # noqa: E501
        """Get survey response  # noqa: E501

        Returns a specific survey response. Requires reader access.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_intake_survey_response_with_http_info(survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_intake_survey_response_with_http_info(survey_response_id, **kwargs)  # noqa: E501
            return data

    def get_intake_survey_response_with_http_info(self, survey_response_id, **kwargs):  # noqa: E501
        """Get survey response  # noqa: E501

        Returns a specific survey response. Requires reader access.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_with_http_info(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_intake_survey_response" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `get_intake_survey_response`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SurveyResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_intake_survey_response_metadata(self, survey_response_id, **kwargs):  # noqa: E501
        """Get all metadata for a survey response  # noqa: E501

        Returns all metadata key-value pairs for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_metadata(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_intake_survey_response_metadata_with_http_info(survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_intake_survey_response_metadata_with_http_info(survey_response_id, **kwargs)  # noqa: E501
            return data

    def get_intake_survey_response_metadata_with_http_info(self, survey_response_id, **kwargs):  # noqa: E501
        """Get all metadata for a survey response  # noqa: E501

        Returns all metadata key-value pairs for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_metadata_with_http_info(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: list[Metadata]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_intake_survey_response_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `get_intake_survey_response_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Metadata]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_intake_survey_response_metadata_by_key(self, survey_response_id, key, **kwargs):  # noqa: E501
        """Get metadata by key for a survey response  # noqa: E501

        Returns a specific metadata entry by key for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_metadata_by_key(survey_response_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_intake_survey_response_metadata_by_key_with_http_info(survey_response_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.get_intake_survey_response_metadata_by_key_with_http_info(survey_response_id, key, **kwargs)  # noqa: E501
            return data

    def get_intake_survey_response_metadata_by_key_with_http_info(self, survey_response_id, key, **kwargs):  # noqa: E501
        """Get metadata by key for a survey response  # noqa: E501

        Returns a specific metadata entry by key for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_metadata_by_key_with_http_info(survey_response_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_intake_survey_response_metadata_by_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `get_intake_survey_response_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `get_intake_survey_response_metadata_by_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata/{key}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Metadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_intake_survey_response_triage_note(self, survey_response_id, triage_note_id, **kwargs):  # noqa: E501
        """Get a specific triage note  # noqa: E501

        Returns details of a specific triage note. Read-only access for survey response submitters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_triage_note(survey_response_id, triage_note_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param int triage_note_id: Triage note identifier (sequential within survey response) (required)
        :return: TriageNote
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_intake_survey_response_triage_note_with_http_info(survey_response_id, triage_note_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_intake_survey_response_triage_note_with_http_info(survey_response_id, triage_note_id, **kwargs)  # noqa: E501
            return data

    def get_intake_survey_response_triage_note_with_http_info(self, survey_response_id, triage_note_id, **kwargs):  # noqa: E501
        """Get a specific triage note  # noqa: E501

        Returns details of a specific triage note. Read-only access for survey response submitters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intake_survey_response_triage_note_with_http_info(survey_response_id, triage_note_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param int triage_note_id: Triage note identifier (sequential within survey response) (required)
        :return: TriageNote
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id', 'triage_note_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_intake_survey_response_triage_note" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `get_intake_survey_response_triage_note`")  # noqa: E501
        # verify the required parameter 'triage_note_id' is set
        if ('triage_note_id' not in params or
                params['triage_note_id'] is None):
            raise ValueError("Missing the required parameter `triage_note_id` when calling `get_intake_survey_response_triage_note`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501
        if 'triage_note_id' in params:
            path_params['triage_note_id'] = params['triage_note_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/triage_notes/{triage_note_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TriageNote',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_intake_survey_response_triage_notes(self, survey_response_id, **kwargs):  # noqa: E501
        """List triage notes for a survey response  # noqa: E501

        Returns a paginated list of triage notes for the specified survey response. Read-only access for survey response submitters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_intake_survey_response_triage_notes(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListTriageNotesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_intake_survey_response_triage_notes_with_http_info(survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_intake_survey_response_triage_notes_with_http_info(survey_response_id, **kwargs)  # noqa: E501
            return data

    def list_intake_survey_response_triage_notes_with_http_info(self, survey_response_id, **kwargs):  # noqa: E501
        """List triage notes for a survey response  # noqa: E501

        Returns a paginated list of triage notes for the specified survey response. Read-only access for survey response submitters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_intake_survey_response_triage_notes_with_http_info(survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :return: ListTriageNotesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_response_id', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_intake_survey_response_triage_notes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `list_intake_survey_response_triage_notes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/triage_notes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListTriageNotesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_intake_survey_responses(self, **kwargs):  # noqa: E501
        """List user's survey responses  # noqa: E501

        Returns a paginated list of the current user's survey responses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_intake_survey_responses(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str status: Filter by response status
        :param str survey_id: Filter by survey ID
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param str sort: Sort order (e.g., created_at:desc, name:asc, severity:desc, score:desc)
        :param datetime created_after: Filter results created after this timestamp (ISO 8601)
        :param datetime created_before: Filter results created before this timestamp (ISO 8601)
        :param datetime modified_after: Filter results modified after this timestamp (ISO 8601)
        :param datetime modified_before: Filter results modified before this timestamp (ISO 8601)
        :return: ListSurveyResponsesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_intake_survey_responses_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_intake_survey_responses_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_intake_survey_responses_with_http_info(self, **kwargs):  # noqa: E501
        """List user's survey responses  # noqa: E501

        Returns a paginated list of the current user's survey responses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_intake_survey_responses_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str status: Filter by response status
        :param str survey_id: Filter by survey ID
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param str sort: Sort order (e.g., created_at:desc, name:asc, severity:desc, score:desc)
        :param datetime created_after: Filter results created after this timestamp (ISO 8601)
        :param datetime created_before: Filter results created before this timestamp (ISO 8601)
        :param datetime modified_after: Filter results modified after this timestamp (ISO 8601)
        :param datetime modified_before: Filter results modified before this timestamp (ISO 8601)
        :return: ListSurveyResponsesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status', 'survey_id', 'limit', 'offset', 'sort', 'created_after', 'created_before', 'modified_after', 'modified_before']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_intake_survey_responses" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'survey_id' in params:
            query_params.append(('survey_id', params['survey_id']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'created_after' in params:
            query_params.append(('created_after', params['created_after']))  # noqa: E501
        if 'created_before' in params:
            query_params.append(('created_before', params['created_before']))  # noqa: E501
        if 'modified_after' in params:
            query_params.append(('modified_after', params['modified_after']))  # noqa: E501
        if 'modified_before' in params:
            query_params.append(('modified_before', params['modified_before']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListSurveyResponsesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_intake_surveys(self, **kwargs):  # noqa: E501
        """List available surveys  # noqa: E501

        Returns a list of active surveys available for developers to fill out.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_intake_surveys(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param datetime created_after: Filter results created after this timestamp (ISO 8601)
        :param datetime created_before: Filter results created before this timestamp (ISO 8601)
        :param datetime modified_after: Filter results modified after this timestamp (ISO 8601)
        :param datetime modified_before: Filter results modified before this timestamp (ISO 8601)
        :return: ListSurveysResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_intake_surveys_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_intake_surveys_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_intake_surveys_with_http_info(self, **kwargs):  # noqa: E501
        """List available surveys  # noqa: E501

        Returns a list of active surveys available for developers to fill out.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_intake_surveys_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: Maximum number of results to return
        :param int offset: Number of results to skip
        :param datetime created_after: Filter results created after this timestamp (ISO 8601)
        :param datetime created_before: Filter results created before this timestamp (ISO 8601)
        :param datetime modified_after: Filter results modified after this timestamp (ISO 8601)
        :param datetime modified_before: Filter results modified before this timestamp (ISO 8601)
        :return: ListSurveysResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'created_after', 'created_before', 'modified_after', 'modified_before']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_intake_surveys" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'created_after' in params:
            query_params.append(('created_after', params['created_after']))  # noqa: E501
        if 'created_before' in params:
            query_params.append(('created_before', params['created_before']))  # noqa: E501
        if 'modified_after' in params:
            query_params.append(('modified_after', params['modified_after']))  # noqa: E501
        if 'modified_before' in params:
            query_params.append(('modified_before', params['modified_before']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/surveys', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListSurveysResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_intake_survey_response(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Partial update survey response  # noqa: E501

        Partially updates a survey response using JSON Patch (RFC 6902). Status transitions are allowed via /status path. Valid statuses: draft, submitted, needs_revision, ready_for_review, review_created. Transitioning to needs_revision requires revision_notes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_intake_survey_response(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[JsonPatchDocumentInner] body: JSON Patch operations to apply to the survey response (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_intake_survey_response_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_intake_survey_response_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
            return data

    def patch_intake_survey_response_with_http_info(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Partial update survey response  # noqa: E501

        Partially updates a survey response using JSON Patch (RFC 6902). Status transitions are allowed via /status path. Valid statuses: draft, submitted, needs_revision, ready_for_review, review_created. Transitioning to needs_revision requires revision_notes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_intake_survey_response_with_http_info(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[JsonPatchDocumentInner] body: JSON Patch operations to apply to the survey response (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_intake_survey_response" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_intake_survey_response`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `patch_intake_survey_response`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SurveyResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_intake_survey_response(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Update survey response  # noqa: E501

        Fully updates a survey response. Only allowed in draft or needs_revision status. Requires writer access.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_intake_survey_response(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyResponseInput body: Complete survey response to replace existing (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_intake_survey_response_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_intake_survey_response_with_http_info(body, survey_response_id, **kwargs)  # noqa: E501
            return data

    def update_intake_survey_response_with_http_info(self, body, survey_response_id, **kwargs):  # noqa: E501
        """Update survey response  # noqa: E501

        Fully updates a survey response. Only allowed in draft or needs_revision status. Requires writer access.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_intake_survey_response_with_http_info(body, survey_response_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SurveyResponseInput body: Complete survey response to replace existing (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :return: SurveyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_intake_survey_response" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_intake_survey_response`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `update_intake_survey_response`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SurveyResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_intake_survey_response_metadata_by_key(self, body, survey_response_id, key, **kwargs):  # noqa: E501
        """Update metadata by key for a survey response  # noqa: E501

        Updates or creates a metadata entry by key for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_intake_survey_response_metadata_by_key(body, survey_response_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to update (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_intake_survey_response_metadata_by_key_with_http_info(body, survey_response_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.update_intake_survey_response_metadata_by_key_with_http_info(body, survey_response_id, key, **kwargs)  # noqa: E501
            return data

    def update_intake_survey_response_metadata_by_key_with_http_info(self, body, survey_response_id, key, **kwargs):  # noqa: E501
        """Update metadata by key for a survey response  # noqa: E501

        Updates or creates a metadata entry by key for the specified survey response  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_intake_survey_response_metadata_by_key_with_http_info(body, survey_response_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Metadata body: Metadata key-value pair to update (required)
        :param str survey_response_id: Unique identifier of the survey response (required)
        :param str key: Metadata key (required)
        :return: Metadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'survey_response_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_intake_survey_response_metadata_by_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_intake_survey_response_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'survey_response_id' is set
        if ('survey_response_id' not in params or
                params['survey_response_id'] is None):
            raise ValueError("Missing the required parameter `survey_response_id` when calling `update_intake_survey_response_metadata_by_key`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `update_intake_survey_response_metadata_by_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_response_id' in params:
            path_params['survey_response_id'] = params['survey_response_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/intake/survey_responses/{survey_response_id}/metadata/{key}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Metadata',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
