openapi: 3.0.3
info:
  contact:
    email: api@tmi.local.dev
    name: TMI Development Team
    url: https://github.com/ericfitz/tmi
  description: |
    A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.

    ## API Design v1.1.0

    ### Authorization Model
    TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.

    ### Bulk Operations
    Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).

    All resources support bulk metadata operations regardless of resource-level bulk support.

    ### List Response Strategy
    - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large.
    - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large.
    - Notes return summary information (NoteListItem) because the content field can be large.
    - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.

    ### PATCH Support
    All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for:
    - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates
    - Notes: Updating name/description without changing content field
    - All resources: Efficient updates without full object replacement
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: TMI (Threat Modeling Improved) API
  version: 1.2.1
externalDocs:
  description: Find more information here
  url: https://github.com/ericfitz/tmi/wiki
servers:
- description: Production server
  url: https://api.tmi.dev
security:
- bearerAuth: []
tags:
- description: General API information and health check endpoints
  name: General
- description: OpenID Connect (OIDC) discovery endpoints per RFC 8414
  name: OIDC Discovery
- description: OAuth 2.0 authorization server metadata per RFC 8414
  name: OAuth Discovery
- description: "OAuth 2.0 and authentication endpoints including authorization, token\
    \ exchange, and provider management"
  name: Authentication
- description: SAML 2.0 single sign-on (SSO) and single logout (SLO) endpoints
  name: SAML
- description: Threat model CRUD operations and management
  name: Threat Models
- description: "Sub-resources of threat models including diagrams, threats, assets,\
    \ documents, notes, and repositories"
  name: Threat Model Sub-Resources
- description: Threat entity management within threat models
  name: Threats
- description: Asset entity management within threat models
  name: Assets
- description: Document entity management within threat models
  name: Documents
- description: Note entity management within threat models
  name: Notes
- description: Source code repository linking within threat models
  name: Repositories
- description: Real-time collaboration session management for diagrams via WebSocket
  name: Collaboration
- description: User profile and account management
  name: Users
- description: Current user account operations including preferences and logout
  name: User Account
- description: Webhook subscription management for event notifications
  name: webhooks
- description: Add-on registration and invocation for extending threat modeling capabilities
  name: Addons
- description: "Administrative endpoints for user management, groups, and quota configuration\
    \ (admin-only)"
  name: Administration
- description: Client configuration endpoints for application settings
  name: Configuration
- description: Administrative endpoints for managing surveys
  name: Survey Administration
- description: Developer-facing endpoints for filling out and submitting survey responses
  name: Survey Intake
- description: Security engineer endpoints for triaging and processing survey responses
  name: Survey Triage
- description: Team management endpoints
  name: Teams
- description: Project management endpoints
  name: Projects
paths:
  /:
    get:
      description: "Returns service, API, and operator information without authentication"
      operationId: getApiInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInfo"
          description: Service and API information
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      security: []
      summary: Get API information
      tags:
      - General
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: Health Check
  /.well-known/openid-configuration:
    get:
      description: Returns OpenID Connect provider configuration metadata as per RFC
        8414
      operationId: getOpenIDConfiguration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOpenIDConfiguration_200_response"
          description: OpenID Connect configuration metadata
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      security: []
      summary: OpenID Connect Discovery Configuration
      tags:
      - OIDC Discovery
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
      x-cacheable-endpoint: true
      x-cacheable-endpoint-reason: "OIDC discovery metadata is static configuration\
        \ data, cacheable per RFC 8414"
  /.well-known/oauth-authorization-server:
    get:
      description: Returns OAuth 2.0 authorization server metadata as per RFC 8414
      operationId: getOAuthAuthorizationServerMetadata
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOAuthAuthorizationServerMetadata_200_response"
          description: OAuth 2.0 authorization server metadata
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      security: []
      summary: OAuth 2.0 Authorization Server Metadata
      tags:
      - OIDC Discovery
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
      x-cacheable-endpoint: true
      x-cacheable-endpoint-reason: "OAuth AS metadata is static configuration data,\
        \ cacheable per RFC 8414"
  /.well-known/jwks.json:
    get:
      description: Returns the JSON Web Key Set (JWKS) for JWT signature verification
      operationId: getJWKS
      responses:
        "200":
          content:
            application/json:
              example:
                keys:
                - kty: RSA
                  use: sig
                  kid: tmi-key-1
                  alg: RS256
              schema:
                $ref: "#/components/schemas/getJWKS_200_response"
          description: JSON Web Key Set
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      security: []
      summary: JSON Web Key Set
      tags:
      - OIDC Discovery
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
      x-cacheable-endpoint: true
      x-cacheable-endpoint-reason: "JWKS contains public keys that change infrequently,\
        \ cacheable per RFC 7517"
  /.well-known/oauth-protected-resource:
    get:
      description: Returns OAuth 2.0 protected resource metadata as per RFC 9728
      operationId: getOAuthProtectedResourceMetadata
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtectedResourceMetadata"
          description: OAuth 2.0 protected resource metadata
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      security: []
      summary: OAuth 2.0 Protected Resource Metadata
      tags:
      - OAuth Discovery
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
      x-cacheable-endpoint: true
      x-cacheable-endpoint-reason: "OAuth protected resource metadata is static configuration\
        \ data, cacheable per RFC 9728"
  /oauth2/introspect:
    post:
      description: Introspects a JWT token to determine its validity and metadata
        as per RFC 7662
      operationId: introspectToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TokenIntrospectionRequest"
        description: Token introspection request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/introspectToken_200_response"
          description: Token introspection result
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Invalid request
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "500":
          content:
            application/json:
              example:
                error: An internal server error occurred
                request_id: 550e8400-e29b-41d4-a716-446655440000
              schema:
                $ref: "#/components/schemas/introspectToken_500_response"
          description: Internal server error
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
      security: []
      summary: Token Introspection
      tags:
      - Authentication
      x-rate-limit:
        strategy: multi-scope
        tier: auth-flows
        scopes:
        - name: session
          limits:
          - type: requests_per_minute
            default: 5
            configurable: false
            tracking_method: OAuth state parameter or SAML request ID
        - name: ip
          limits:
          - type: requests_per_minute
            default: 100
            configurable: false
            tracking_method: Source IP address
        - name: user_identifier
          limits:
          - type: attempts_per_hour
            default: 10
            configurable: false
            tracking_method: login_hint parameter or email address
        enforcement: Most restrictive limit applies
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OAuth Flow
  /oauth2/providers:
    get:
      description: Returns a list of configured OAuth providers available for authentication
      operationId: getAuthProviders
      responses:
        "200":
          content:
            application/json:
              example:
                providers:
                - id: tmi
                  name: TMI Development
                  icon: shield
                  auth_url: http://localhost:8080/oauth2/authorize?idp=tmi
                  token_url: http://localhost:8080/oauth2/token
                  redirect_uri: http://localhost:8079/callback
                  client_id: tmi-client
              schema:
                $ref: "#/components/schemas/getAuthProviders_200_response"
          description: List of available OAuth providers
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
      security: []
      summary: List available OAuth providers
      tags:
      - Authentication
      x-rate-limit:
        scope: user
        tier: resource-operations
        limits:
        - type: requests_per_minute
          default: 100
          configurable: true
          quota_source: user_api_quotas
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OAuth Flow
      x-cacheable-endpoint: true
      x-cacheable-endpoint-reason: OAuth provider list is static configuration data
  /oauth2/providers/{idp}/groups:
    get:
      description: Returns groups available from a specific identity provider for
        autocomplete and discovery
      operationId: getProviderGroups
      parameters:
      - description: "Identity provider ID (e.g., saml_okta, saml_azure)"
        explode: false
        in: path
        name: idp
        required: true
        schema:
          maxLength: 100
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                idp: azure
                groups:
                - name: Security Team
                - name: Developers
              schema:
                $ref: "#/components/schemas/getProviderGroups_200_response"
          description: List of groups from the identity provider
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1735689600
                type: integer
              style: simple
        "401":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "404":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "503":
          content:
            application/json:
              examples:
                authServiceUnavailable:
                  summary: Authentication service unavailable
                  value:
                    error: service_unavailable
                    error_description: Authentication service temporarily unavailable
                      - please retry
                storageServiceUnavailable:
                  summary: Storage service unavailable
                  value:
                    error: service_unavailable
                    error_description: Storage service temporarily unavailable - please
                      retry
                cacheServiceUnavailable:
                  summary: Cache service unavailable
                  value:
                    error: service_unavailable
                    error_description: Cache service temporarily unavailable - please
                      retry
              schema:
                $ref: "#/components/schemas/Error"
          description: "Service Unavailable - A required backend service (authentication,\
            \ database, or cache) is temporarily unavailable. The client should retry\
            \ the request after the delay indicated in the Retry-After header."
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 30
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
        "429":
          content:
            application/json:
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
              schema:
                $ref: "#/components/schemas/Error"
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 100
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 0
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              explode: false
              schema:
                example: 1640000000
                type: integer
              style: simple
            Retry-After:
              description: Number of seconds to wait before retrying the request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "Bad Request - Invalid parameters, malformed UUIDs, or validation\
            \ failures"
          headers:
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current time
                window
              explode: false
              schema:
                example: 1000
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current time window
              explode: false
              schema:
                example: 999
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: Unix epoch seconds when the rate limit window resets
              explode: false
              schema:
                example: 1640995200
                type: integer
              style: simple
      security:
      - bearerAuth: []
      summary: Get groups for identity provider
      tags:
      - Authentication
      x-rate-limit:
        scope: user
        tier: resource-operations
        limits:
        - type: requests_per_minute
          default: 100
          configurable: true
          quota_source: user_api_quotas
  /oauth2/authorize:
    get:
      description: Redirects user to OAuth provider's authorization page. Supports
        client callback URL for seamless client integration. Generates state parameter
        for CSRF protection.
      operationId: authorizeOAuthProvider
      parameters:
      - description: OAuth provider identifier. Defaults to 'tmi' provider in non-production
          builds if not specified.
        explode: true
        in: query
        name: idp
        required: false
        schema:
          maxLength: 100
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          type: string
        style: form
      - description: "Client callback URL where TMI should redirect after successful\
          \ OAuth completion with tokens in URL fragment (#access_token=...). If not\
[...]
