/*
 * TMI (Threat Modeling Improved) API
 * A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.  ## API Design v1.0.0  ### Authorization Model TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.  ### Bulk Operations Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).  All resources support bulk metadata operations regardless of resource-level bulk support.  ### List Response Strategy - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large. - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large. - Notes return summary information (NoteListItem) because the content field can be large. - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.  ### PATCH Support All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for: - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates - Notes: Updating name/description without changing content field - All resources: Efficient updates without full object replacement 
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package dev.tmi.client.api;

import dev.tmi.client.ApiCallback;
import dev.tmi.client.ApiClient;
import dev.tmi.client.ApiException;
import dev.tmi.client.ApiResponse;
import dev.tmi.client.Configuration;
import dev.tmi.client.Pair;
import dev.tmi.client.ProgressRequestBody;
import dev.tmi.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.InlineResponse2007;
import io.swagger.client.model.Threat;
import io.swagger.client.model.ThreatsBulkBody;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ThreatsApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public ThreatsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ThreatsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for bulkDeleteThreatModelThreats
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @param threatIds Comma-separated list of threat IDs to delete (UUID format) (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call bulkDeleteThreatModelThreatsCall(UUID threatModelId, List<UUID> threatIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/threat_models/{threat_model_id}/threats/bulk"
            .replaceAll("\\{" + "threat_model_id" + "\\}", apiClient.escapeString(threatModelId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (threatIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "threat_ids", threatIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call bulkDeleteThreatModelThreatsValidateBeforeCall(UUID threatModelId, List<UUID> threatIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'threatModelId' is set
        if (threatModelId == null) {
            throw new ApiException("Missing the required parameter 'threatModelId' when calling bulkDeleteThreatModelThreats(Async)");
        }
        // verify the required parameter 'threatIds' is set
        if (threatIds == null) {
            throw new ApiException("Missing the required parameter 'threatIds' when calling bulkDeleteThreatModelThreats(Async)");
        }
        
        com.squareup.okhttp.Call call = bulkDeleteThreatModelThreatsCall(threatModelId, threatIds, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Bulk DELETE threats
     * Delete multiple threats in a single request
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @param threatIds Comma-separated list of threat IDs to delete (UUID format) (required)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2007 bulkDeleteThreatModelThreats(UUID threatModelId, List<UUID> threatIds) throws ApiException {
        ApiResponse<InlineResponse2007> resp = bulkDeleteThreatModelThreatsWithHttpInfo(threatModelId, threatIds);
        return resp.getData();
    }

    /**
     * Bulk DELETE threats
     * Delete multiple threats in a single request
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @param threatIds Comma-separated list of threat IDs to delete (UUID format) (required)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2007> bulkDeleteThreatModelThreatsWithHttpInfo(UUID threatModelId, List<UUID> threatIds) throws ApiException {
        com.squareup.okhttp.Call call = bulkDeleteThreatModelThreatsValidateBeforeCall(threatModelId, threatIds, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Bulk DELETE threats (asynchronously)
     * Delete multiple threats in a single request
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @param threatIds Comma-separated list of threat IDs to delete (UUID format) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call bulkDeleteThreatModelThreatsAsync(UUID threatModelId, List<UUID> threatIds, final ApiCallback<InlineResponse2007> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = bulkDeleteThreatModelThreatsValidateBeforeCall(threatModelId, threatIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for bulkPatchThreatModelThreats
     * @param body  (required)
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call bulkPatchThreatModelThreatsCall(ThreatsBulkBody body, UUID threatModelId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/threat_models/{threat_model_id}/threats/bulk"
            .replaceAll("\\{" + "threat_model_id" + "\\}", apiClient.escapeString(threatModelId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call bulkPatchThreatModelThreatsValidateBeforeCall(ThreatsBulkBody body, UUID threatModelId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling bulkPatchThreatModelThreats(Async)");
        }
        // verify the required parameter 'threatModelId' is set
        if (threatModelId == null) {
            throw new ApiException("Missing the required parameter 'threatModelId' when calling bulkPatchThreatModelThreats(Async)");
        }
        
        com.squareup.okhttp.Call call = bulkPatchThreatModelThreatsCall(body, threatModelId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Bulk PATCH threats
     * Apply JSON Patch operations to multiple threats in a single request
     * @param body  (required)
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @return List&lt;Threat&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Threat> bulkPatchThreatModelThreats(ThreatsBulkBody body, UUID threatModelId) throws ApiException {
        ApiResponse<List<Threat>> resp = bulkPatchThreatModelThreatsWithHttpInfo(body, threatModelId);
        return resp.getData();
    }

    /**
     * Bulk PATCH threats
     * Apply JSON Patch operations to multiple threats in a single request
     * @param body  (required)
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @return ApiResponse&lt;List&lt;Threat&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Threat>> bulkPatchThreatModelThreatsWithHttpInfo(ThreatsBulkBody body, UUID threatModelId) throws ApiException {
        com.squareup.okhttp.Call call = bulkPatchThreatModelThreatsValidateBeforeCall(body, threatModelId, null, null);
        Type localVarReturnType = new TypeToken<List<Threat>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Bulk PATCH threats (asynchronously)
     * Apply JSON Patch operations to multiple threats in a single request
     * @param body  (required)
     * @param threatModelId Unique identifier of the threat model (UUID) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call bulkPatchThreatModelThreatsAsync(ThreatsBulkBody body, UUID threatModelId, final ApiCallback<List<Threat>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = bulkPatchThreatModelThreatsValidateBeforeCall(body, threatModelId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Threat>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
