openapi: 3.0.3
info:
  title: TMI (Threat Modeling Improved) API
  description: |
    A RESTful API for collaborative threat modeling with full X6 graph library compatibility. This API provides schemas that align with AntV X6 cell object models for seamless integration with modern diagramming libraries. Supports OAuth 2.0 authentication with client callback integration for seamless single-page application authentication flows.

    ## API Design v1.0.0

    ### Authorization Model
    TMI uses hierarchical authorization: access control is defined at the ThreatModel level via the authorization field (readers, writers, owners). All child resources (Assets, Diagrams, Documents, Notes, Repositories, Threats) inherit permissions from their parent ThreatModel. This simplifies permission management and ensures consistent access control.

    ### Bulk Operations
    Notes and Diagrams do not support bulk operations due to their unique creation workflows and lack of valid bulk use cases. All other resources (Threats, Assets, Documents, Repositories) support full bulk operations: POST (create), PUT (upsert), PATCH (partial update), DELETE (batch delete).

    All resources support bulk metadata operations regardless of resource-level bulk support.

    ### List Response Strategy
    - ThreatModels return summary information (TMListItem) because they contain many child objects that can be large.
    - Diagrams return summary information (DiagramListItem) because diagram data (cells, images) can be large.
    - Notes return summary information (NoteListItem) because the content field can be large.
    - Threats, Assets, Documents, Repositories return full schemas as they are relatively small and static.

    ### PATCH Support
    All resources support PATCH for partial updates using JSON Patch (RFC 6902). This is particularly useful for:
    - Assets: Array field updates (affected_assets, trust_boundaries) ensuring no duplicates
    - Notes: Updating name/description without changing content field
    - All resources: Efficient updates without full object replacement
  contact:
    name: TMI Development Team
    url: https://github.com/ericfitz/tmi
    email: api@tmi.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find more information here
  url: https://github.com/ericfitz/tmi/wiki
servers:
- url: https://api.tmi.dev
  description: Production server
security:
- bearerAuth: []
tags:
- name: General
  description: General API information and health check endpoints
- name: OIDC Discovery
  description: OpenID Connect (OIDC) discovery endpoints per RFC 8414
- name: OAuth Discovery
  description: OAuth 2.0 authorization server metadata per RFC 8414
- name: Authentication
  description: "OAuth 2.0 and authentication endpoints including authorization, token\
    \ exchange, and provider management"
- name: SAML
  description: SAML 2.0 single sign-on (SSO) and single logout (SLO) endpoints
- name: Threat Models
  description: Threat model CRUD operations and management
- name: Threat Model Sub-Resources
  description: "Sub-resources of threat models including diagrams, threats, assets,\
    \ documents, notes, and repositories"
- name: Threats
  description: Threat entity management within threat models
- name: Assets
  description: Asset entity management within threat models
- name: Documents
  description: Document entity management within threat models
- name: Notes
  description: Note entity management within threat models
- name: Repositories
  description: Source code repository linking within threat models
- name: Collaboration
  description: Real-time collaboration session management for diagrams via WebSocket
- name: Users
  description: User profile and account management
- name: webhooks
  description: Webhook subscription management for event notifications
- name: Addons
  description: Add-on registration and invocation for extending threat modeling capabilities
- name: Administration
  description: "Administrative endpoints for user management, groups, and quota configuration\
    \ (admin-only)"
paths:
  /:
    get:
      tags:
      - General
      summary: Get API information
      description: "Returns service, API, and operator information without authentication"
      operationId: getApiInfo
      responses:
        "200":
          description: Service and API information
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInfo"
        "400":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: Health Check
  /.well-known/openid-configuration:
    get:
      tags:
      - OIDC Discovery
      summary: OpenID Connect Discovery Configuration
      description: Returns OpenID Connect provider configuration metadata as per RFC
        8414
      operationId: getOpenIDConfiguration
      responses:
        "200":
          description: OpenID Connect configuration metadata
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200"
        "400":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
  /.well-known/oauth-authorization-server:
    get:
      tags:
      - OIDC Discovery
      summary: OAuth 2.0 Authorization Server Metadata
      description: Returns OAuth 2.0 authorization server metadata as per RFC 8414
      operationId: getOAuthAuthorizationServerMetadata
      responses:
        "200":
          description: OAuth 2.0 authorization server metadata
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        "400":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
  /.well-known/jwks.json:
    get:
      tags:
      - OIDC Discovery
      summary: JSON Web Key Set
      description: Returns the JSON Web Key Set (JWKS) for JWT signature verification
      operationId: getJWKS
      responses:
        "200":
          description: JSON Web Key Set
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_2"
        "400":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
  /.well-known/oauth-protected-resource:
    get:
      tags:
      - OAuth Discovery
      summary: OAuth 2.0 Protected Resource Metadata
      description: Returns OAuth 2.0 protected resource metadata as per RFC 9728
      operationId: getOAuthProtectedResourceMetadata
      responses:
        "200":
          description: OAuth 2.0 protected resource metadata
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtectedResourceMetadata"
        "400":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        scope: ip
        tier: public-discovery
        limits:
        - type: requests_per_minute
          default: 10
          configurable: false
          tracking_method: Source IP address
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OIDC Discovery
  /oauth2/introspect:
    post:
      tags:
      - Authentication
      summary: Token Introspection
      description: Introspects a JWT token to determine its validity and metadata
        as per RFC 7662
      operationId: introspectToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TokenIntrospectionRequest"
        required: true
      responses:
        "200":
          description: Token introspection result
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Invalid request
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
        "500":
          description: Internal server error
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
              example:
                error: An internal server error occurred
                request_id: 550e8400-e29b-41d4-a716-446655440000
      security: []
      x-rate-limit:
        strategy: multi-scope
        tier: auth-flows
        scopes:
        - name: session
          limits:
          - type: requests_per_minute
            default: 5
            configurable: false
            tracking_method: OAuth state parameter or SAML request ID
        - name: ip
          limits:
          - type: requests_per_minute
            default: 100
            configurable: false
            tracking_method: Source IP address
        - name: user_identifier
          limits:
          - type: attempts_per_hour
            default: 10
            configurable: false
            tracking_method: login_hint parameter or email address
        enforcement: Most restrictive limit applies
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OAuth Flow
  /oauth2/providers:
    get:
      tags:
      - Authentication
      summary: List available OAuth providers
      description: Returns a list of configured OAuth providers available for authentication
      operationId: getAuthProviders
      responses:
        "200":
          description: List of available OAuth providers
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_4"
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        scope: user
        tier: resource-operations
        limits:
        - type: requests_per_minute
          default: 100
          configurable: true
          quota_source: user_api_quotas
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OAuth Flow
  /oauth2/providers/{idp}/groups:
    get:
      tags:
      - Authentication
      summary: Get groups for identity provider
      description: Returns groups available from a specific identity provider for
        autocomplete and discovery
      operationId: getProviderGroups
      parameters:
      - name: idp
        in: path
        description: "Identity provider ID (e.g., saml_okta, saml_azure)"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 100
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          type: string
      responses:
        "200":
          description: List of groups from the identity provider
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_5"
        "401":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "404":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "500":
          description: Error response
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorizationError:
                  summary: Insufficient permissions for sub-resource access
                  value:
                    error: access_denied
                    error_description: User does not have sufficient permissions to
                      access this sub-resource
                    details:
                      code: INSUFFICIENT_PERMISSIONS
                      context:
                        required_role: writer
                        user_role: reader
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                        resource_type: threat
                      suggestion: Request write access from the threat model owner
                notFoundError:
                  summary: Sub-resource not found
                  value:
                    error: not_found
                    error_description: The requested sub-resource does not exist or
                      does not belong to the specified threat model
                    details:
                      code: RESOURCE_NOT_FOUND
                      context:
                        resource_id: 550e8400-e29b-41d4-a716-446655440999
                        resource_type: document
                        threat_model_id: 550e8400-e29b-41d4-a716-446655440000
                      suggestion: Verify the resource ID and threat model association
                validationError:
                  summary: Invalid input data
                  value:
                    error: invalid_input
                    error_description: The provided data does not meet validation
                      requirements
                    details:
                      code: VALIDATION_FAILED
                      context:
                        field_errors:
                        - field: name
                          error: must not be empty
                      suggestion: Correct the validation errors and retry the request
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
        "400":
          description: "Bad Request - Invalid parameters, malformed UUIDs, or validation\
            \ failures"
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
      - bearerAuth: []
      x-rate-limit:
        scope: user
        tier: resource-operations
        limits:
        - type: requests_per_minute
          default: 100
          configurable: true
          quota_source: user_api_quotas
  /oauth2/authorize:
    get:
      tags:
      - Authentication
      summary: Initiate OAuth authorization flow
      description: Redirects user to OAuth provider's authorization page. Supports
        client callback URL for seamless client integration. Generates state parameter
        for CSRF protection.
      operationId: authorizeOAuthProvider
      parameters:
      - name: idp
        in: query
        description: OAuth provider identifier. Defaults to 'test' provider in non-production
          builds if not specified.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 100
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          type: string
      - name: client_callback
        in: query
        description: "Client callback URL where TMI should redirect after successful\
          \ OAuth completion with tokens in URL fragment (#access_token=...). If not\
          \ provided, tokens are returned as JSON response. Per OAuth 2.0 implicit\
          \ flow spec, tokens are in fragments to prevent logging."
        required: false
        style: form
        explode: true
        schema:
          maxLength: 1000
          pattern: "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\\
            .[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\/[^\\s]*)?\\\
            s*$"
          type: string
          format: uri
          example: http://localhost:4200/oauth2/callback
      - name: state
        in: query
        description: CSRF protection state parameter. Recommended for security. Will
          be included in the callback response.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 256
          pattern: "^[a-zA-Z0-9_~.+/=-]*$"
          type: string
          example: random_state_abc123
      - name: login_hint
        in: query
        description: "User identity hint for test OAuth provider. Allows specifying\
          \ a desired user identity for testing and automation. Only supported by\
          \ the test provider (ignored by production providers like Google, GitHub,\
          \ etc.). Must be 3-20 characters, alphanumeric and hyphens only."
        required: false
        style: form
        explode: true
        schema:
          maxLength: 1000
          pattern: "^[a-zA-Z0-9-]{3,20}$"
          type: string
          example: alice
      - name: scope
        in: query
        description: "OAuth 2.0 scope parameter. For OpenID Connect, must include\
          \ \"openid\". Supports \"profile\" and \"email\" scopes. Other scopes are\
          \ silently ignored. Space-separated values."
        required: true
        style: form
        explode: true
        schema:
          maxLength: 256
          pattern: "^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]$"
          type: string
          example: openid profile email
      - name: code_challenge
        in: query
        description: "PKCE code challenge (RFC 7636) - Base64url-encoded SHA256 hash\
          \ of the code_verifier. Must be 43-128 characters using unreserved characters\
          \ [A-Za-z0-9-._~]. The server associates this with the authorization code\
          \ for later verification during token exchange."
        required: true
        style: form
        explode: true
        schema:
          maxLength: 128
          minLength: 43
          pattern: "^[A-Za-z0-9\\-._~]{43,128}$"
          type: string
          example: E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM
      - name: code_challenge_method
        in: query
        description: PKCE code challenge method (RFC 7636) - Specifies the transformation
          applied to the code_verifier. Only "S256" (SHA256) is supported for security.
          The "plain" method is not supported.
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: S256
          enum:
          - S256
      responses:
        "302":
          description: Redirect to OAuth provider authorization page
          headers:
            Location:
              description: "OAuth provider authorization URL with client_id, redirect_uri,\
                \ response_type, scope, and state parameters"
              style: simple
              explode: false
              schema:
                maxLength: 1000
                pattern: "^\\s*https?:\\/\\/[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\\
                  .[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*(:[0-9]{1,5})?(\\\
                  /[^\\s]*)?\\s*$"
                type: string
                format: uri
        "400":
          description: Invalid provider or provider not configured
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error generating authorization URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        strategy: multi-scope
        tier: auth-flows
        scopes:
        - name: session
          limits:
          - type: requests_per_minute
            default: 5
            configurable: false
            tracking_method: OAuth state parameter or SAML request ID
        - name: ip
          limits:
          - type: requests_per_minute
            default: 100
            configurable: false
            tracking_method: Source IP address
        - name: user_identifier
          limits:
          - type: attempts_per_hour
            default: 10
            configurable: false
            tracking_method: login_hint parameter or email address
        enforcement: Most restrictive limit applies
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OAuth Flow
  /oauth2/token:
    post:
      tags:
      - Authentication
      summary: Exchange OAuth credentials for JWT tokens
      description: "Provider-neutral endpoint to exchange OAuth credentials for TMI\
        \ JWT tokens. Supports three grant types: (1) authorization_code for OAuth\
        \ provider flows (Google, GitHub, Microsoft), (2) client_credentials for machine-to-machine\
        \ authentication (RFC 6749 Section 4.4), and (3) refresh_token for token renewal.\
        \ Accepts both application/json and application/x-www-form-urlencoded content\
        \ types."
      operationId: exchangeOAuthCode
      parameters:
      - name: idp
        in: query
        description: OAuth provider identifier. Defaults to 'test' provider in non-production
          builds if not specified.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 100
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/oauth2_token_body"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TokenRequest"
        required: true
      responses:
        "200":
          description: "OAuth exchange successful, TMI JWT tokens issued"
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          description: "Bad request - invalid provider, missing parameters, or invalid\
            \ state"
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalid_provider:
                  summary: Invalid provider
                  value:
                    error: "Invalid provider: invalid_provider"
                    error_description: Provider 'invalid_provider' is not configured
                      or supported
                missing_code:
                  summary: Missing authorization code
                  value:
                    error: "Invalid request: missing required fields"
                    error_description: The 'code' parameter is required
                invalid_state:
                  summary: Invalid state parameter
                  value:
                    error: Invalid state parameter
                    error_description: State parameter validation failed - possible
                      CSRF attack
        "500":
          description: Internal server error - OAuth provider communication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                provider_error:
                  summary: OAuth provider communication failed
                  value:
                    error: "Failed to exchange authorization code: oauth2: cannot\
                      \ fetch token: 400 Bad Request"
                    error_description: Unable to communicate with OAuth provider or
                      invalid authorization code
                user_info_error:
                  summary: Failed to get user information
                  value:
                    error: "Failed to get user info: 401 Unauthorized"
                    error_description: OAuth provider denied access to user information
        "429":
          description: Too Many Requests - Rate limit exceeded. The client has sent
            too many requests in a given amount of time. See rate limit headers for
            details.
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) when the rate limit
                window resets
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640000000
            Retry-After:
              description: Number of seconds to wait before retrying the request
              style: simple
              explode: false
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: rate_limit_exceeded
                error_description: "Rate limit exceeded: 100 requests per minute.\
                  \ Retry after 45 seconds."
                details:
                  code: RATE_LIMIT_EXCEEDED
                  context:
                    limit: 100
                    window: minute
                    retry_after: 45
      security: []
      x-rate-limit:
        strategy: multi-scope
        tier: auth-flows
        scopes:
        - name: session
          limits:
          - type: requests_per_minute
            default: 5
            configurable: false
            tracking_method: OAuth state parameter or SAML request ID
        - name: ip
          limits:
          - type: requests_per_minute
            default: 100
            configurable: false
            tracking_method: Source IP address
        - name: user_identifier
          limits:
          - type: attempts_per_hour
            default: 10
            configurable: false
            tracking_method: login_hint parameter or email address
        enforcement: Most restrictive limit applies
      x-public-endpoint: true
      x-authentication-required: false
      x-public-endpoint-purpose: OAuth Flow
  /oauth2/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh JWT token
      description: Exchanges a refresh token for a new JWT access token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRefreshRequest"
      responses:
        "200":
          description: New JWT issued successfully
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix epoch seconds)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1735689600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          description: Bad request - missing or invalid refresh token
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missing_token:
                  summary: Missing refresh token
                  value:
                    error: "Invalid request: missing required fields"
                    error_description: The 'refresh_token' parameter is required
                invalid_format:
                  summary: Invalid token format
                  value:
                    error: Invalid refresh token format
                    error_description: Refresh token must be a valid UUID string
        "401":
          description: Unauthorized - invalid or expired refresh token
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed in the current time
                window
              style: simple
              explode: false
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              style: simple
              explode: false
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets
                (Unix timestamp)
              style: simple
              explode: false
              schema:
                type: integer
                example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                expired_token:
                  summary: Expired refresh token
                  value:
                    error: Invalid refresh token
                    error_description: The refresh token has expired or has been revoked
                invalid_token:
                  summary: Invalid refresh token
                  value:
                    error: Invalid refresh token
                    error_description: The provided refresh token is not valid
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
[...]
